 .banner{
    font-family: 'Comfortaa', sans-serif;
    color: #613d26;
 }

.gallery{  
    grid-template-columns: 2fr 4fr 2fr;  
}

.pp{
    border-radius: 5%;
    border: 2px solid rgb(240, 6, 84);
}

   
