.backDrp{
background: rgba(255, 254, 254, 0.253);
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 5px );
}

.backDrp22{
background: rgba(255, 255, 255, 0.664);
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
}

 